@import url(https://fonts.googleapis.com/css?family=Tangerine);

@font-face {
font-family: "E2";
src: url("/../assets/EHeadline.otf") format("opentype");
}

.front
{
    height:100vh;
	width:100vw;
	max-width:100%;
	margin:0;	
    /* background:url('background.png') fixed no-repeat left bottom; */
    background-size:cover;
    overflow:hidden;
	overflow-y:hidden;
	text-align: center;
	font-family: E2;
	
}


.content .blurOff {
    filter: blur(0px);
}

.content .blurOn {
    filter: blur(2px);
}


@font-face {
font-family: "Sign";
src: url("/../assets/Sign.ttf") format("truetype");
}

@media only screen and (max-width: 768px) {
	
  h1 {
    font-size: 20px;
  }
  
}

.hey
{
	font-family: Sign;
	font-size:80px;
	color:white;
	text-align:left;
	margin-left:20%;
}

h1
{
	margin-top:0px;
	margin-bottom:0px;
	font-size:80px;
	color:white;
	text-align:center;
	font-weight:normal;
}



@font-face {
font-family: "EG";
src: url("/../assets/EHeadline.ttf") format("truetype");
}

h2
{
	margin-top:0px;
	margin-bottom:0px;
	font-family:EG;
	font-size:22px;
	color:white;
	text-align:center;
	font-weight:normal;
}

.info
{
	/* display: inline-block; */
	/* position: fixed; */
	/* box-sizing: border-box; */
	/* width: 40%; */
	/* border: 5px solid white; */

}

