	<mat-toolbar class="animated fadeInDown transparent" id="transparent" [ngStyle.xs]="{'font-size.px': 15, 'letter-spacing.px': 0, 'margin.px': 0}">
		  
		<button mat-button (click)="scrollTo('frontRef')"color="white" [ngStyle.xs]="{'font-size.px': 15, 'letter-spacing.px': 0, 'margin.px': 0}">Home</button>
		•
		<button mat-button (click)="scrollTo('portfRef')" color="primary" [ngStyle.xs]="{'font-size.px': 15, 'letter-spacing.px': 0, 'margin.px': 0}">Portfolio</button>
		•
		<button mat-button (click)="scrollTo('expRef')"color="primary" [ngStyle.xs]="{'font-size.px': 15, 'letter-spacing.px': 0, 'margin.px': 0}">Experience</button>
		•
		<button mat-button [matMenuTriggerFor]="menu" color="primary" [ngStyle.xs]="{'font-size.px': 15, 'letter-spacing.px': 0, 'margin.px': 0}">Contact</button>
		<mat-menu #menu="matMenu">
			<a mat-menu-item [href]="'mailto:thomasvonprouss@me.com'" color="primary" [ngStyle.xs]="{'font-size.px': 15, 'letter-spacing.px': 0 , 'margin.px': 0}">Mail</a>
			<a mat-menu-item color="primary" [ngStyle.xs]="{'font-size.px': 15, 'letter-spacing.px': 0 , 'margin.px': 0}" [href]="'https://www.linkedin.com/in/thomas-von-prouss-b0386611b/'" target="blank">LinkedIn</a>
		</mat-menu>
	</mat-toolbar>
	
