	<mat-toolbar class="animated fadeInDown transparent" id="transparent" [ngStyle.xs]="{'font-size.px': 15, 'letter-spacing.px': 0, 'margin.px': 0}">
		<button mat-button class="hidden-xs" (click)="scrollTo('portfRef')" color="primary"> • Portfolio</button>

		<button mat-button class="hidden-xs" (click)="scrollTo('educationExp')"color="primary"> • Education</button>

		<button mat-button class="hidden-xs" (click)="scrollTo('infoExp')"color="primary"> • Experience</button>
		
		<button mat-button class="hidden-xs" (click)="scrollTo('aboutExp')"color="primary"> • About Me</button>

		<button mat-button [matMenuTriggerFor]="menu" color="primary"> • Contact</button>
		<mat-menu #menu="matMenu">
			<a mat-menu-item [href]="'mailto:thomasvonprouss@me.com'" color="primary">Mail</a>
			<a mat-menu-item color="primary" [href]="'https://www.linkedin.com/in/thomas-von-prouss-b0386611b/'" target="blank">LinkedIn</a>
		</mat-menu>
	</mat-toolbar>
	
