/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "./loaders.min.css";

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.root {
  display: flex;
  overflow-y:hidden;
  max-width:100%;
  background:url('./assets/backgroundDB3.png') fixed no-repeat left top; 
  background-size:cover;
}

.blurOn {
    filter: blur(4px);


}


.blurOff {
	filter: blur(0px);


}

html, body {
  min-height: 100vh;
  max-width:100%;
  height: auto;
  margin: 0;
}

.content
{
	max-width:100%;
}

.custom-dialog-container .mat-dialog-container  {
   padding:4px;
   max-width:auto;
   z-index:1;
}