.exp
{
    height:auto;
	min-height: 100% !important;
	position: relative;
	width:100vw;
	max-width:100%;
	margin:0;	
	background:white;
	/* background:url('./background3white.png') center top;  */
	/* background-size:cover; */
    overflow:hidden;
	color:white;
	font-style:Helvetica;
}


.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #221130;
  margin-left:auto;
  margin-right:auto;
}

.expRef
{

}

mat-card-subtitle
{
	    text-align: justify;
}
.cards2 {

	display: inline-flex;
	width:auto;
	/* min-width:200px; */
	min-width:40%;
	margin-top:15px;
	margin-left:-5px;
	margin-right:-5px;
	padding:5px;
}

.cards{
	/* margin: 5px auto; */
	/* padding:4px; */
	/* margin-bottom:15px; */
	background-color:#43344f;

	max-width:700px;
	padding:20px;
	color:white;
	font-style:Verdana;
	min-height:380px;
margin-left:10px;
margin-right:10px;
}

@font-face {
font-family: "E2";
src: url("/../assets/EHeadline.otf") format("opentype");
}

h1 {
	margin-left:3%;
	margin-right:3%;
	font-family:E2;
	font-size:65px;
	color:white;
	overflow: hidden;
	position: relative;
	/* margin-bottom: 1em; */
	font-weight:normal;
	letter-spacing:0.2em;
	display: flex;
    justify-content: center;
    align-items: center;
}

h1:before,
h1:after {
  background-color: #43344f;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 70%;
  height:5px;
}

h1:before {
  right: 0.5em;
  margin-left: -65%;
}

h1:after {
  left: 0.5em;
  margin-right: -65%;
}

.breakline
{

}

li{
  /* float:left; */
  /* display:inline; */
}
ul{
	  overflow:hidden;
}
/* h1::after{ */
	/* content: ''; */
	/* width: 100%; */
	/* box-sizing: border-box; */
	/* border-top: 6px solid #43344f; */
	/* position: absolute; */
	/* bottom: 0.5em; */
	/* margin-left: 0.5em; */
/* } */



.mat-card-subtitle{
	color:white;
	font-style:Verdana;
}

.infoExp {
	flex-flow: row wrap;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left:1%;
	margin-right:1%;
}



.aboutExp
{
	flex-flow: row wrap;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left:1%;
	margin-right:1%;
}

.educationExp
{
	margin-top:10px;
	flex-flow: row wrap;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left:1%;
	margin-right:1%;
}

.aboutme
{
	flex-flow: row wrap;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left:1%;
	margin-right:1%;
	margin-bottom:100px;
}

li 
{
	margin:2px;
}

/* @media screen and (max-width: 600px){ */

  /* .imageroot{ */
    /* float:none; */
    /* display:block; */
    /* width:100%; */
  /* } */
/* } */

/* h1  */
/* { */
	/* font-family:Helvetica; */
	/* font-size:22px; */
	/* color:white; */
	/* text-align: center; */
/* } */

/* p */
/* { */
	/* font-family:Helvetica; */
	/* font-size:14px; */
	/* color:white; */
	/* text-align: center; */
	/* text-align:justify; */
	/* margin:3%; */
/* } */

/* .borderUL */
/* { */
	/* border: 2px solid white; */
	/* border-radius:4px; */
	/* padding-top:10px; */
	/* padding-bottom:10px; */
	/* max-height:50%; */
/* } */

/* .studies */
/* { */
	/* padding-left:15%; */
	/* padding-right:2%; */
	/* height:100%; */

/* } */

/* .work  */
/* { */
	/* /* padding-left:5%; */ 
	/* /* padding-right:15%; */ 
	/* /* height:100%; */ 
/* } */

/* .infoExp */
/* { */
	/* flex-flow: row wrap; */
	/* height: 75vh; */
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	/* margin-left:15%; */
	/* margin-right:15%; */
/* } */

/* .imageroot{ */
	/* flex-flow: row wrap; */
	/* height: 75vh; */
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	/* margin-left:15%; */
	/* margin-right:15%; */
/* } */